<div class="container">
  <div>
    <h3>
     Editar dados de Pessoa
    </h3>
  </div>
  <form #form="ngForm" (ngSubmit)="updateUser(form)" novalidate>
    <div class="row">
      <div class="form-group col-6">
        <label for="nome">Nome</label>
        <input type="text" name="nome" class="form-control is-valid " id="nome" [(ngModel)]="user.nome"
        required #nome="ngModel" autofocus
        [ngClass]="{ 'is-invalid': nome.invalid && nome.dirty }">
        <div class="invalid-feedback">Campo requirido</div>
      </div>
      <div class="form-group col-6">
        <label for="cpf">CPF</label>
        <input type="text" name="cpf" class="form-control is-valid " id="cpf" [(ngModel)]="user.cpf"
        required #cpf="ngModel" mask='999.999.999-99'
        [ngClass]="{ 'is-invalid': cpf.invalid && cpf.dirty }">
        <div class="invalid-feedback">Campo requirido</div>
      </div>
      <div class="form-group col-6">
        <label for="email">E-mail</label>
        <input type="email" name="email" class="form-control is-valid " id="email" [(ngModel)]="user.email"
        required #email="ngModel"
        [ngClass]="{ 'is-invalid': email.invalid && email.dirty }">
        <div class="invalid-feedback">Campo requirido</div>
      </div>
      <div class="form-group col-6">
        <label for="data_nascimento">Data de nascimento</label>
        <input type="date" name="data_nascimento" class="form-control is-valid " id="data_nascimento" [(ngModel)]="user.dataNascimento"
        required #data_nascimento="ngModel"
        [ngClass]="{ 'is-invalid': data_nascimento.invalid && data_nascimento.dirty }">
        <div class="invalid-feedback">Campo requirido</div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="form-group col-3">
        <label for="ddd">DDD</label>
        <input type="text" name="ddd" class="form-control is-valid " id="ddd" ngModel #ddd="ngModel" mask='999'>
      </div>
      <div class="form-group col-3">
        <label for="telefone">Telefone</label>
        <input type="text" name="telefone" class="form-control is-valid " id="telefone" ngModel #telefone="ngModel" mask='99999-999'>
      </div>
      <div class="form-group col-4" style="margin-top: 32px;">
        <button type="button" class="btn btn-primary" (click) = "addFone(form)"
        [disabled]="!ddd.value || !telefone.value" >Adicionar</button>
      </div>
    </div>
    <div class="row col-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>DDD</th>
            <th>Telefone</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let telefone of user.telefones">
            <th scope="row">{{telefone.id}}</th>
            <td>{{telefone.ddd}}</td>
            <td>{{telefone.numero}}</td>
            <td><a (click) = "removeFone(telefone.id)" class="btn btn-danger">Delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <input type="hidden" name="id"  id="id" [(ngModel)]="user.id" #id="ngModel">
    <button class="btn btn-primary" [disabled]="!form.valid">Atualizar</button>
  </form>
</div>
