<div class="container">
  <div>
    <h3>
      Listagem de Pessoas
    </h3>
  </div>
  <form #form="ngForm" (ngSubmit)="pesquisar(form)" novalidate>
   <div class="row">
    <div class="form-group col-4">
      <label for="nome">Nome</label>
      <input type="text" name="nome" class="form-control is-valid " id="nome" ngModel  #nome="ngModel"  autofocus>
    </div>
    <div class="form-group col-4">
      <label for="cpf">CPF</label>
      <input type="text" name="cpf" class="form-control is-valid " id="cpf" ngModel  #cpf="ngModel">
    </div>
    <div class="col-4" style="margin-top: 32px;">
      <button type="submit" class="btn btn-primary" [disabled]="!nome.value && !cpf.value">Pesquisar</button>
      <a type="btn" class="btn btn-primary" routerLink="/cadastro" >Cadastrar</a>
    </div>
  </div>
 </form>
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>CPF</th>
          <th>Idade</th>
          <th>Quantidade de Telefones</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let pessoa of pessoas">
          <th scope="row">{{pessoa.id}}</th>
          <td>{{pessoa.nome}}</td>
          <td>{{pessoa.email}}</td>
          <td>{{pessoa.cpf}}</td>
          <td>{{pessoa.dataNascimento | dataIdade }} anos</td>
          <td>{{pessoa.telefones.length}}</td>
          <td><a type="button"  routerLink="/update/{{pessoa.id}}" class="btn btn-primary">Editar</a></td>
          <td><a  ype="button"  class="btn btn-danger" (click) = "deletarPessoa(pessoa.id)" >Deletar</a></td>

        </tr>
      </tbody>
    </table>
   </div>
</div>
