<!--The content below is only a placeholder and can be replaced.-->
<app-alert></app-alert>
<router-outlet></router-outlet>

<!--form #form="ngForm" (ngSubmit)="updateUser(form)" novalidate>

    <div class="form-group col-6">
      <label for="nome">Nome</label>
      <input type="text" name="nome" class="form-control is-valid " id="nome" [(ngModel)]="title"
      required #nome="ngModel"
      [ngClass]="{ 'is-invalid': nome.invalid && nome.dirty }">
      <div class="invalid-feedback">Campo requirido</div>
    </div>
</form-->






<!--form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <div class="form-group">
      <label class="form-control-label" for="inputSuccess1">Nome</label>
      <input type="text" name="first" class="form-control is-valid " id="inputSuccess1" ngModel
      required #first="ngModel"
      [ngClass]="{ 'is-invalid': first.invalid && first.dirty }">
      <div class="invalid-feedback">Campo requirido</div>
  </div>
  <div class="form-group">
      <label class="form-control-label" for="inputSuccess2">Input with Danger</label>
      <input type="text" class="form-control is-invalid" id="inputSuccess2">
      <div class="invalid-feedback">Success! You've done it.</div>
  </div>




      <input name="first" ngModel required #first="ngModel">
      <input name="last" ngModel required
      >
      <button [disabled]="!f.valid">Submit</button>
</form>

    <p>First name value: {{ first.value }}</p>
    <p>First name valid: {{ first.valid }}</p>
    <p>Form value: {{ f.value | json }}</p>
    <p>Form valid: {{ f.valid }}</p-->
